.video-cam {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  .label {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  video {
    margin-bottom: 20px;
  }

  button {
    background-color: #1b66ca !important;
    color: white;
    margin-bottom: 20px;
  }
}
