.nav-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  svg {
    width: 30px;
    height: 30px;
    color: #a0a0a0;
    margin-right: auto;
  }
  i::before {
    color: #a0a0a0;
    width: 30px !important;
    height: 30px !important;
  }
}
