.my-hr{
    height: 0.5px;
    margin-bottom: 10px;
    background-color: #cecece;
}

.emp-list{
    .emp-item{
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 32px;
            height: 32px;
        }
        .content{
            .title{
                font-size: 1.1rem;
                font-weight: 700;
            }
        }
    }
}