.nav-body {
  padding: 10px;
  .title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #877df2 !important;
  }
  .list-item {
    display: flex;
    flex-direction: column;
    .active {
      background-color: #968df3 !important;
      border-radius: 6px;
      box-shadow: 0px 0px 10px 1px #acacacda;
      i::before {
        color: white !important;
      }
      p {
        color: white !important;
        font-weight: 700 !important;
      }
    }
  }
}
